.error-boundary-btn {
  font-size: 16px;
  font-weight: 600;
  border: var(--border1);
  border-radius: 3px;
  background-color: var(--color5);
}

.error-boundary-btn:hover {
  background-color: var(--color4);
}

.error-boundary-btn:active {
  background-color: var(--color3);
}
